/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * MAIN
 *
 * This file is reserved for @imports only. It should rarely need to be updated.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */


/*-------------------------------------------- */
/** Vendor */
/*-------------------------------------------- */

@import 'vendor/bourbon/bourbon';
@import 'vendor/memo/memo';
@import 'vendor/breakpoint/breakpoint';


/*-------------------------------------------- */
/** Variables */
/*-------------------------------------------- */

@import 'base/font-face';
@import 'base/colors';
@import 'base/settings';
@import 'base/breakpoints';


/*-------------------------------------------- */
/** Utils */
/*-------------------------------------------- */

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/helpers';


/*-------------------------------------------- */
/** Base */
/*-------------------------------------------- */

@import 'base/z-index';
@import 'base/reset';
@import 'base/base';


/*-------------------------------------------- */
/** Layout */
/*-------------------------------------------- */

@import 'layouts/page';
@import 'layouts/__layouts';

/*-------------------------------------------- */
/** Modules */
/*-------------------------------------------- */

@import 'modules/__modules';

/*-------------------------------------------- */
/** Pages */
/*-------------------------------------------- */

@import 'pages/__pages';


.pf-title {
	text-align: center;
}

#pf-body ul, #pf-body ol {
	margin: 0;
	padding: 0;
}

#pf-body li {
	margin-top: 0;
	margin-bottom: 0;
}

#pf-body .report__stats li {
	margin-right: 5px;
}