/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * FONT FACE
 * 
 * Define any @font-face declarations below. 
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
 
$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Work Sans', sans-serif;
$body-font: 'Source Serif Pro', serif;