/**
 * Block: footer
 * Element: footer__element
 * Modifier: footer--modifier
 */

$block: footer;
.footer {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
    margin: 0.67em 0;
	border-top: 2px solid lighten($color-black, 60%);


	.page-container {
		text-align: center;

		@include respond-to('small and up') {
			text-align: justify;

			&:after {
				content: '';
				display: inline-block;
				width: 100%;
			}
		}
		
	}
	&__group {

		@include respond-to('small and up') {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.site-credit {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 200px;
		margin: auto;
		font-size: rem(10);
		color: lighten($color-black, 25%);
		text-transform: lowercase;
		text-align: center;
	}

	&__logo {
		
		color: black;

		svg {
			display: inline-block;
			margin: auto;
			width: 43px;
			height: 30px;
			
			@include respond-to('small and up') {
				width: 57px;
				height: 40px;
			}
		}

	}
}
