/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * MAIN
 *
 * This file is reserved for @imports only. It should rarely need to be updated.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*-------------------------------------------- */
/** Vendor */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Variables */
/*-------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * FONT FACE
 * 
 * Define any @font-face declarations below. 
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * COLORS
 * 
 * Define any global color variables below. Ideally color variables should be
 * referenced by the theme variables that follow. 
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*-------------------------------------------- */
/** Color Variables */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Theme Variables */
/*-------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * BASE SETTINGS
 *
 * The settings defined in this file should be updated per project. Any
 * custom global variables needed for the project should be defined in 
 * utils/variables.scss
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*-------------------------------------------- */
/** File Path Settings */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Layout Settings */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Typography Settings */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Color Settings */
/*-------------------------------------------- */
/*-------------------------------------------- */
/** Common Library variables */
/*-------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * BREAKPOINTS
 *
 * Define all breakpoint variables below. Breakpoint is included as a vendor
 * library: http://breakpoint-sass.com/. All media queries should make use of
 * the @include breakpoint() mixin and reference the variables defined in this
 * file. When coding a responsive site, mobile first CSS should be used.
 * See http://www.zell-weekeat.com/how-to-write-mobile-first-css/.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*-------------------------------------------- */
/** Utils */
/*-------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * VARIABLES
 * 
 * Define any custom site-wide variables below. These should only be 
 * variables that are global in scope and that need to be referenced 
 * by multiple SASS files.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * FUNCTIONS
 * 
 * Define any custom site-wide functions below. These should only be 
 * functions that are global in scope and that need to be referenced 
 * by multiple SASS files.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * MIXINS
 * 
 * Define any custom site-wide mixins below. These should only be 
 * mixins that are global in scope and that need to be referenced 
 * by multiple SASS files.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * HELPERS
 *
 * Define any custom site-wide helper classes below. Utility classes such as
 * .centered or .hidden are good candidates to live in this file.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*-------------------------------------------- */
/** Base */
/*-------------------------------------------- */
/*-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- 
 *
 * Z-INDEX DEFINITIONS
 * 
 * Use the z-index variables below instead of hard coded values.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * BASE
 *
 * Global element styles only (i.e. h1-h6, p, a, ul, li)
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
html,
body {
  font-size: 16px; }

body {
  background: #fff;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #222; }

h1,
.h1 {
  color: #222;
  font-size: 2.5rem;
  font-weight: 400; }

h2,
.h2 {
  color: #222;
  font-size: 2rem;
  font-weight: 400; }

h3,
.h3 {
  color: #222;
  font-size: 1.5rem;
  font-weight: 400; }

h4,
.h4 {
  color: #222;
  font-size: 1.25rem;
  font-weight: 400; }

h5,
.h5 {
  color: #222;
  font-size: 1rem;
  font-weight: 400; }

h6,
.h6 {
  color: #222;
  font-size: 1rem;
  font-weight: 400; }

p {
  margin-top: 0;
  margin-bottom: 20px; }

a {
  color: #222; }
  a:hover {
    color: #222; }
  a.active {
    color: #222; }

strong {
  font-weight: 700; }

blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

blockquote {
  margin-left: 0;
  margin-right: 0; }

img {
  max-width: 100%; }

svg {
  fill: currentColor; }

/**
 * Set text selection color
 */
::-moz-selection {
  background-color: #222;
  color: #fff; }

::selection {
  background-color: #222;
  color: #fff; }

/*-------------------------------------------- */
/** Layout */
/*-------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * LAYOUT
 *
 * Major layout container components (i.e. header, main content containers,
 * footer, sidebar/aside)
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/**
 * Apply to the element that will be the outmost container of site content to
 * contain the width to $page-container-width
 */
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  background: #fff;
  overflow: hidden; }
  .page-container::after {
    clear: both;
    content: "";
    display: table; }

/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * LAYOUT
 * 
 * Import all layout specific SASS files below. This file is imported 
 * by main.scss.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/*-------------------------------------------- */
/** Modules */
/*-------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * MODULES
 *
 * Import all module SASS files below. This file is imported by main.scss.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */
/**
 * Block: nav
 * Element: nav__element
 * Modifier: nav--modifier
 */
.nav {
  -webkit-transition: padding 0.3s ease-out;
  -moz-transition: padding 0.3s ease-out;
  transition: padding 0.3s ease-out;
  position: relative;
  width: 100%;
  float: left;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 700px) {
    .nav {
      padding-top: 25px;
      padding-bottom: 25px;
      text-align: center; } }
  .nav--is-open .nav__wrapper {
    display: block;
    width: 100%;
    float: left;
    padding-top: 15px; }
  .nav__wrapper {
    position: relative;
    display: none; }
    @media (min-width: 700px) {
      .nav__wrapper {
        display: block; } }
  .nav__item {
    color: #fff;
    text-decoration: none; }
    @media (max-width: 700px) {
      .nav__item {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px; } }
    @media (min-width: 700px) {
      .nav__item {
        padding-left: 10px;
        padding-right: 10px; } }
  .nav__logo {
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    color: white; }
    @media (min-width: 700px) {
      .nav__logo {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        position: relative;
        top: 50%;
        -webkit-transition: color 0.25s ease-out;
        -moz-transition: color 0.25s ease-out;
        transition: color 0.25s ease-out;
        position: absolute; } }
    .nav__logo svg {
      display: block;
      width: 43px;
      height: 30px; }
      @media (min-width: 700px) {
        .nav__logo svg {
          width: 57px;
          height: 40px; } }

.menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  float: left;
  padding: 0;
  border: 0;
  margin-left: 20px;
  background: transparent; }
  @media (min-width: 700px) {
    .menu {
      display: none; } }
  .menu__bar {
    margin-bottom: 4px;
    width: 25px;
    height: 3px;
    display: block;
    background: #fff; }

svg {
  fill: currentColor; }

.lod-logo {
  width: 50px;
  color: white; }

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0; }

.list-inline li {
  display: inline-block; }

/**
 * Block: hero
 * Element: hero__element
 * Modifier: hero--modifier
 */
.hero {
  float: left;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #222;
  text-align: center; }
  .hero__title, .hero__client, .hero__label, .hero__date {
    margin: 0; }
  .hero__client, .hero__date {
    font-size: 1rem;
    text-transform: uppercase; }
  .hero__title {
    font-size: 1.25rem; }
  .hero__label {
    font-size: 0.875rem; }

/**
 * Block: report
 * Element: report__element
 * Modifier: report--modifier
 */
.report {
  max-width: 750px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 700px) {
    .report {
      margin-top: 75px;
      margin-bottom: 75px; } }
  .report__title {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase; }
    @media (min-width: 700px) {
      .report__title {
        font-size: 1.75rem; } }
  .report__subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase; }
    .report__subtitle--small {
      font-size: 1.125rem; }
  .report__item {
    margin-bottom: 25px; }
  .report__header {
    margin-bottom: 25px; }
  .report__item-title {
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px; }
  .report__outlet-description p {
    margin-bottom: 10px; }
    .report__outlet-description p:last-child {
      margin-bottom: 0; }
  .report__status {
    display: inline-block;
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 3px 5px;
    border-radius: 5px;
    vertical-align: text-bottom;
    color: #222; }
    .report__status--new {
      background: #2ecc71;
      color: white; }
  .report__notes-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px; }
  .report__stats, .report__social {
    margin-top: 10px;
    margin-bottom: 10px; }
    .report__stats li, .report__social li {
      margin-right: 10px;
      font-size: 0.875rem; }
  .report__stats li {
    display: block;
    text-transform: uppercase; }
    @media (min-width: 700px) {
      .report__stats li {
        display: inline-block; } }
  .report__stats img {
    position: relative;
    display: inline-block;
    top: 7px;
    max-width: 25px;
    margin-right: 3px; }

/**
 * Block: footer
 * Element: footer__element
 * Modifier: footer--modifier
 */
.footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0.67em 0;
  border-top: 1px solid #222; }
  .footer .page-container {
    text-align: center; }
    @media (min-width: 700px) {
      .footer .page-container {
        text-align: justify; }
        .footer .page-container:after {
          content: '';
          display: inline-block;
          width: 100%; } }
  @media (min-width: 700px) {
    .footer__group {
      display: inline-block;
      vertical-align: middle; } }
  .footer .site-credit {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    margin: auto;
    font-size: 0.625rem;
    color: #626262;
    text-transform: lowercase;
    text-align: center; }
  .footer__logo {
    color: black; }
    .footer__logo svg {
      display: inline-block;
      margin: auto;
      width: 43px;
      height: 30px; }
      @media (min-width: 700px) {
        .footer__logo svg {
          width: 57px;
          height: 40px; } }

.printfriendly {
  margin-top: 10px; }
  .printfriendly a {
    display: inline-block;
    padding: 5px 8px;
    background-color: gray;
    color: white;
    text-decoration: none;
    border-radius: 5px; }

/*-------------------------------------------- */
/** Pages */
/*-------------------------------------------- */
/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * PAGES
 *
 * Import all page specific SASS files below. This file is imported by main.scss.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */

/*# sourceMappingURL=main.css.map */